/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-apr-2019, 8.36.54
    Author     : ashean.abeysinge
*/

html{
	width: auto;
	height: auto;
}

.casella{
	width: auto;
	height: auto;
}

#casella2{
	margin-top: 200px;
}
#cy{
  width: 400px;
  height: 400px;
  background: #ffa;
  float: left;
}